
*.xml
*.v
simWorkspace
*.class
*.d
*.vcd
*.o
*.dat
*.sh
*.bin
*.v
*.cpp
*.class
*.a
*.d
*.h
*.class
*.class
.~README.md
target/scala-2.11/classes/RF$$anonfun$1.class
target/scala-2.11/classes/RF.class
*.vcd
*.v
*.v
*.v
