
*.xml
*.v
simWorkspace
*.class
*.d
*.vcd
*.o
*.dat
*.sh
*.bin
*.v
*.cpp
*.class
*.a
*.d
*.h
*.class
*.class
.~README.md
target/scala-2.11/classes/RF$$anonfun$1.class
target/scala-2.11/classes/RF.class
*.vcd
*.v
*.v
*.v
*.xml
*.json
*.xml
*.iml
*.class
*.cache
.bsp
.idea
*.v
*.sock
target/streams/_global/_global/dumpStructure/_global/streams/out
*.log
target/streams/_global/_global/csrLogger/_global/streams/out
*.json
*.class
*.cpp
*.h
